<?xml version="1.0" encoding="utf-8"?>
<LanguagesSettingsConfigurationSection>
  <LanguagesSettingsConfiguration>
    <add key="test" value="20"></add>
    <add name="DefaultConnectionString" connectionString="MultipleActiveResultSets=true;Data Source=VN-ANVO2;User Id=sa;Password=Conghieu93;Database=LanguagesDB" providerName="System.Data.SqlClient" />
  </LanguagesSettingsConfiguration>
</LanguagesSettingsConfigurationSection>